<div class="panel panel-default">
	<form name="frmInsumo" ng-submit="guardar();" novalidate>
		<div class="panel-body">
			<legend ng-bind="titulo">Nueva Mano de Obra</legend>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Concepto *</label>
						<input type="text" name="nombre" required ng-model="insumo.nombre" class="form-control ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required">
						<div ng-show="frmInsumo.$submitted || frmInsumo.nombre.$touched">
							<span ng-show="frmInsumo.nombre.$error.required" class="text-danger ng-hide">Este campo es requerido.</span>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label">Precio *</label>
						<input type="number" string-to-number name="costo" ng-model="insumo.costo" class="form-control" required />
						<div ng-show="frmInsumo.$submitted || frmInsumo.costo.$touched">
							<span ng-show="frmInsumo.costo.$error.required" class="text-danger ng-hide">Este campo es requerido.</span>
						</div>
					</div>
				</div>
				<div class="col-md-6">					
					<div class="form-group">
						<label class="control-label">Unidad de Medida</label>
						<select name="unidad_medida" ng-model="insumo.unidad_medida" ng-options="unidad_medida as unidad_medida.nombre for unidad_medida in unidad_medidas track by unidad_medida.resource_uri" class="form-control" required disabled />
						<div ng-show="frmInsumo.$submitted || frmInsumo.unidad_medida.$touched">
							<span ng-show="frmInsumo.unidad_medida.$error.required" class="text-danger ng-hide">Este campo es requerido.</span>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label">Total *</label>
						<input type="number" string-to-number name="precio" ng-model="insumo.precio" class="form-control" required readonly />
						<div ng-show="frmInsumo.$submitted || frmInsumo.precio.$touched">
							<span ng-show="frmInsumo.precio.$error.required" class="text-danger ng-hide">Este campo es requerido.</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<div class="clearfix">
				<div class="pull-right">
					<button ng-cancel type="button" class="btn btn-warning">Cancelar</button>
					<button type="submit" class="btn btn-primary">Guardar</button>
				</div>
			</div>
		</div>
	</form>
</div>