<div class="panel panel-default">
	<form name="frmEstado" ng-submit="guardar();" novalidate>
		<div class="panel-body">
			<legend ng-bind="titulo">Nuevo Estado</legend>
			<div class="form-group">
				<label class="control-label">Nombre *</label>
				<input type="text" name="nombre" required ng-model="estado.nombre" class="form-control ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required">
				<div ng-show="frmEstado.$submitted || frmEstado.nombre.$touched">
					<span ng-show="frmEstado.nombre.$error.required" class="text-danger ng-hide">Este campo es requerido.</span>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<div class="clearfix">
				<div class="pull-right">
					<button ng-cancel type="button" class="btn btn-warning">Cancelar</button>
					<button type="submit" class="btn btn-primary">Guardar</button>
				</div>
			</div>
		</div>
	</form>
</div>