<!DOCTYPE html>
<html lang="en" data-ng-app="verallo">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="description" content="{{app.description}}">
   <meta name="keywords" content="app, responsive, angular, bootstrap, dashboard, admin">
   <title data-ng-bind="pageTitle()">Verallo</title>
   <!-- Bootstrap styles-->
   <link rel="stylesheet" href="app/css/bootstrap.css">
   <!-- Application styles-->
   <link rel="stylesheet" href="app/css/app.css">
   <!-- Themes-->
   <link rel="stylesheet" ng-href="{{app.layout.theme}}" data-ng-if="app.layout.theme">
   <link rel="stylesheet" href="vendor/angularjs-toaster/toaster.css" />
   <link rel="stylesheet" href="vendor/blockUI/angular-block-ui.min.css" />

   <link rel="stylesheet" type="text/css" href="vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
</head>

<body data-ng-class="{ 'layout-fixed' : app.layout.isFixed, 'aside-collapsed' : app.layout.isCollapsed, 'layout-boxed' : app.layout.isBoxed, 'layout-fs': app.useFullLayout, 'hidden-footer': app.hiddenFooter, 'layout-h': app.layout.horizontal, 'aside-float': app.layout.isFloat, 'offsidebar-open': app.offsidebarOpen, 'aside-toggled': app.asideToggled}">
   <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
   <div data-preloader></div>
   
   <div data-ui-view="" data-autoscroll="false" class="wrapper"></div>

   <script src="app/js/base.js"></script>
   <script src="vendor/ngFileUpload/ng-file-upload-shim.min.js"></script>
   <script src="vendor/ngFileUpload/ng-file-upload.min.js"></script>
   <script src="vendor/blockUI/angular-block-ui.min.js"></script>
   <script src="app/js/app.js"></script>
   <script src="vendor/angular-bootstrap-confirm/angular-bootstrap-confirm.min.js"></script>
   <script src="vendor/angularjs-toaster/toaster.js"></script>
   <script src="vendor/smart-table/smart-table.min.js"></script>
   <script src="app/js/api.js"></script>
   <script src="app/js/main.js"></script>
   <script src="app/js/factories.js"></script>
   <script src="app/js/directivas.js"></script>
   <script src="vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
   <script src="vendor/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js" type="text/javascript"></script>
   <script src="vendor/i18n/angular-locale_es-es.js"></script>

</body>

</html>