<div class="panel panel-default">
	<form name="frmMunicipio" ng-submit="guardar();" novalidate>
		<div class="panel-body">
			<legend ng-bind="titulo">Nuevo Municipio</legend>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Estado *</label>
						<select name="estado" ng-model="municipio.estado" ng-options="estado as estado.nombre for estado in estados track by estado.resource_uri" class="form-control" required />
						<div ng-show="frmMunicipio.$submitted || frmMunicipio.estado.$touched">
							<span ng-show="frmMunicipio.estado.$error.required" class="text-danger ng-hide">Este campo es requerido.</span>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Nombre *</label>
						<input type="text" name="nombre" required ng-model="municipio.nombre" class="form-control ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required">
						<div ng-show="frmMunicipio.$submitted || frmMunicipio.nombre.$touched">
							<span ng-show="frmMunicipio.nombre.$error.required" class="text-danger ng-hide">Este campo es requerido.</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<div class="clearfix">
				<div class="pull-right">
					<button ng-cancel type="button" class="btn btn-warning">Cancelar</button>
					<button type="submit" class="btn btn-primary">Guardar</button>
				</div>
			</div>
		</div>
	</form>
</div>