<div class="panel panel-default">	
	<div class="panel-body">
		<legend>Municipios</legend>
			
			<div class="text-right">
			<a class="btn btn-default" ng-click="new();">
			<i class="icon-plus" /> Agregar
			</a>
			</div>
		<table st-table="municipios" st-pipe="callServer" class="table table-striped">
			<thead>
				<tr>
					<th>No</th>
					<th>Nombre</th>
					<th>Estado</th>
					<th>Acciones</th>
				</tr>
				<tr>
					<th colspan="4"><input st-search="" class="form-control" placeholder="Buscar ..." type="text"/></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="municipio in municipios track by $index">
					<td>{{$index+1}}</td>
					<td>{{municipio.nombre}}</td>
					<td>{{municipio.estado.nombre}}</td>
					<td>
						<a ng-click="edit(municipio)" class="btn btn-circle btn-icon-only btn-default">
							<i class="icon-pencil"></i>
						</a>
						<a mwl-confirm title="¿Estas seguro que desea Eliminar?" confirm-text="Si" cancel-text="No" on-confirm="remove($index, municipio)" placement="left" confirm-button-type="danger" cancel-button-type="default" class="btn btn-circle btn-icon-only btn-default">
							<i class="icon-trash"></i>
						</a>
					</td>
				</tr>
				<tr>
					<td colspan="4" class="text-center" >
						<span ng-show="municipios.length == 0 " class="sbold text-danger">
							Sin Resultados que mostrar
						</span> 
					</td>
				</tr>
			</tbody>
			<tfoot>

				<tr>
					<td colspan="4" class="text-center">
						<div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>