<div class="panel panel-default">
	<form name="frmProveedor" ng-submit="guardar();" novalidate>
		<div class="panel-body">
			<legend ng-bind="titulo">Nuevo Proveedor</legend>
			
			<nav>
				<uib-tabset justified="true">
					<uib-tab>
						<uib-tab-heading>
							<em>Información Proveedor</em>
						</uib-tab-heading>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">Razón Social *</label>
									<input type="text" name="razon_social" required ng-model="proveedor.razon_social" class="form-control ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required">
									<div ng-show="frmProveedor.$submitted || frmProveedor.razon_social.$touched">
										<span ng-show="frmProveedor.razon_social.$error.required" class="text-danger ng-hide">Este campo es requerido.</span>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<button class="btn btn-info pull-right" type="button" ng-click="addS();">Agregar Sucursal</button>
									<label class="control-label">Sucursales *</label>
									<table class="table table-striped">
										<thead>
											<tr>
												<th>Nombre</th>
												<th>Acciones</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="suc in proveedor.sucursales">
												<td><input class="form-control" ng-model="suc.nombre" required /></td>
												<td>													
													<a mwl-confirm title="¿Estas seguro que desea Eliminar?" confirm-text="Si" cancel-text="No" on-confirm="removeS($index, row)" placement="left" confirm-button-type="danger" cancel-button-type="default" class="btn btn-circle btn-icon-only btn-default">
														<i class="icon-trash"></i>
													</a>
												</td>
											</tr>
										</tbody>
									</table>		
								</div>
							</div>
						</div>
					</uib-tab>
					<uib-tab>
						<uib-tab-heading>
							<em>Contactos</em>
						</uib-tab-heading>
						<div class="text-right">
							<a class="btn btn-default" ng-click="new();">
								<i class="icon-plus" /> Agregar
							</a>
						</div>
						<table st-table="displayedCollection" st-safe-src="proveedor.contactos" class="table table-striped">
							<thead>
								<th>No</th>
								<th>Nombre</th>
								<th>Telefono</th>
								<th>Movil</th>
								<th>Email</th>
								<th>Acciones</th>
							</thead>
							<tbody>
								<tr ng-repeat="row in displayedCollection">
									<td>{{row.id}}</td>
									<td>{{row.nombre}}</td>
									<td>{{row.telefono}}</td>
									<td>{{row.movil}}</td>
									<td>{{row.email}}</td>
									<td>
										<a ng-click="edit($index, row)" class="btn btn-circle btn-icon-only btn-default">
											<i class="icon-pencil"></i>
										</a>
										<a mwl-confirm title="¿Estas seguro que desea Eliminar?" confirm-text="Si" cancel-text="No" on-confirm="remove($index, row)" placement="left" confirm-button-type="danger" cancel-button-type="default" class="btn btn-circle btn-icon-only btn-default">
											<i class="icon-trash"></i>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</uib-tab>
				</uib-tabset>
			</nav>
		</div>
		<div class="panel-footer">
			<div class="clearfix">
				<div class="pull-right">
					<button ng-cancel type="button" class="btn btn-warning">Cancelar</button>
					<button type="submit" class="btn btn-primary">Guardar</button>
				</div>
			</div>
		</div>
	</form>
</div>