<form name="frmContacto" ng-submit="guardarContacto();" novalidate>
	<div class="panel-body">
		<legend ng-bind="titulo_c">Nuevo Contacto</legend>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label">Nombre *</label>
					<input type="text" name="nombre" required ng-model="nuevo_contacto.nombre" class="form-control">
					<div ng-show="frmContacto.$submitted || frmContacto.nombre.$touched">
						<span ng-show="frmContacto.nombre.$error.required" class="text-danger ng-hide">Este campo es requerido.</span>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">Telefono</label>
					<input type="number" name="telefono" ng-model="nuevo_contacto.telefono" class="form-control ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label">Movil</label>
					<input type="number" name="movil" ng-model="nuevo_contacto.movil" class="form-control ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required">
				</div>
				<div class="form-group">
					<label class="control-label">Email</label>
					<input type="email" name="email" ng-model="nuevo_contacto.email" class="form-control">
				</div>
			</div>
		</div>
	</div>
	<div class="panel-footer">
		<div class="clearfix">
			<div class="pull-right">
				<button ng-click="cerrar();" class="btn btn-warning">Cancelar</button>
				<button type="submit" class="btn btn-primary">Guardar</button>
			</div>
		</div>
	</div>
</form>