<form name="frmObra" ng-submit="guardarObra();">
	<div class="panel-body">
		<legend ng-bind="titulo_c">Nueva Obra</legend>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label class="control-label">Nombre *</label>
					<ui-select ng-model="nueva_obra.nombre" on-select="selectObra($item, $model);">
						<ui-select-match>{{$select.selected.nombre}}</ui-select-match>
						<ui-select-choices repeat="obra.nombre as obra in getObras($select.search) | filter: $select.search">
							<div ng-bind="obra.nombre"></div>
						</ui-select-choices>
					</ui-select>
					<div ng-show="frmObra.$submitted || frmObra.nombre.$touched">
						<span ng-show="frmObra.nombre.$error.required" class="text-danger ng-hide">Este campo es requerido.</span>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label">Titulo</label>
			<input type="text" name="titulo" ng-model="nueva_obra.titulo" class="form-control">									
		</div>
		<div class="form-group">
			<label class="control-label">Porcentaje de ganancia deseado (%) *</label>
			<input ng-change="calcularObra();" type="number" name="porcentaje" required ng-model="nueva_obra.porcentaje" class="form-control" />
			<div ng-show="frmObra.$submitted || frmObra.porcentaje.$touched">
				<span ng-show="frmObra.porcentaje.$error.required" class="text-danger ng-hide">Este campo es requerido.</span>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label">Mano de Obra Herreria (%) *</label>
			<input ng-change="calcularObra();" type="number" name="porcentaje_mano_obra" required ng-model="nueva_obra.porcentaje_mano_obra" class="form-control" />
			<div ng-show="frmObra.$submitted || frmObra.porcentaje_mano_obra.$touched">
				<span ng-show="frmObra.porcentaje_mano_obra.$error.required" class="text-danger ng-hide">Este campo es requerido.</span>
			</div>
		</div>
		<button type="button" class="btn pull-right" ng-click="agregarItem();">Agregar Item</button>
		<table class="table">
			<thead>
				<tr>
					<th>Insumo</th><th>Unidad de Medida</th><th>Cantidad</th><th>Precio Unitario</th><th>Importe</th><th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in nueva_obra.items">
					<td>
						<ui-select ng-change="cambioItem(row);" ng-model="row.insumo_s">
							<ui-select-match>{{$select.selected.nombre}}</ui-select-match>
							<ui-select-choices repeat="insumo in insumos | filter: $select.search">
								<span ng-bind-html="insumo.nombre | highlight: $select.search"></span>
							</ui-select-choices>
						</ui-select>
					</td>
					<td>
						<select class="form-control" ng-model="row.unidad_medida" ng-options="unidad_medida as unidad_medida.nombre for unidad_medida in unidad_medidas track by unidad_medida.resource_uri" readonly required>
						</select>
					</td>
					<td>
						<input class="form-control" type="number" step="any" string-to-number ng-change="cambioP(row);" ng-model="row.cantidad" required />
					</td>
					<td>
						<input class="form-control" type="number" step="any" string-to-number ng-change="cambioP(row);" ng-model="row.precio_unitario" required />
					</td>
					<td>
						<input class="form-control" type="number" string-to-number ng-model="row.importe" required readonly />
					</td>
					<td>
						<button class="btn" ng-click="deleteItem(row);"><i class="fa fa-times" aria-hidden="true"></i></button>
					</td>
				</tr>
				<tr class="success">
					<td colspan="4"><strong>Mando Intermedio:</strong></td>
					<td>$ {{nueva_obra.mando | currency:''}}</td>
				</tr>
				<tr class="success">
					<td colspan="4"><strong>Mano de Obra Herreria:</strong></td>
					<td>$ {{nueva_obra.herreria | currency:''}}</td>
				</tr>
				<tr class="success">
					<td colspan="4"><strong>Factor Sobre Costo:</strong></td>
					<td>$ {{nueva_obra.ganancia | currency:''}}</td>
				</tr>
				<tr class="success">
					<td colspan="4"><strong>Total:</strong></td>
					<td>$ {{nueva_obra.total | currency:''}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel-footer">
		<div class="clearfix">
			<div class="pull-right">
				<button ng-click="cerrar();" class="btn btn-warning">Cancelar</button>
				<button type="submit" class="btn btn-primary">Guardar</button>
			</div>
		</div>
	</div>
</form>