<div class="panel panel-default">
	<div class="panel-body">
		<legend>Presupuestos</legend>
		
		<div class="text-right">
			<a class="btn btn-default" ng-click="new();">
				<i class="icon-plus" /> Agregar
			</a>
		</div>
		<table st-table="presupuestos" st-pipe="callServer" class="table table-striped">
			<thead>
				<tr>
					<th>Cliente</th>
					<th>Sucursal</th>
					<th>Obra</th>
					<th>Fecha</th>
					<th>Total</th>
					<th colspan="2">Estatus</th>
					<th>Acciones</th>
				</tr>
				<tr>
					<th colspan="8">
						<input st-search class="form-control" placeholder="Buscar ..." type="text"/>
						<div class="input-group input-daterange">
							<input ng-model="fecha_inicio" type="text" class="form-control" ng-date />
							<span class="input-group-addon">a</span>
							<input ng-model="fecha_final" type="text" class="form-control" ng-date />
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="presupuesto in presupuestos track by $index">
					<td>{{presupuesto.cliente.razon_social}}</td>
					<td>{{presupuesto.sucursal.nombre}}</td>
					<td>{{presupuesto.nombre}}</td>
					<td>{{presupuesto.fecha}}</td>
					<td>${{presupuesto.total |currency:''}}</td>
					<td>
						<select class="form-control" ng-model="presupuesto.estatus" ng-options="(item?'Autorizado':'Denegado') for item in [1, 0]" ng-change="cambioEstatus(presupuesto);">
						</select>
					</td>
					<td>
					<center>
						<a ng-click="enviar(presupuesto);" class="btn btn-info">Enviar</a>
						<a href="{{SERVER}}{{presupuesto.pdf}}" class="btn btn-success" download="{{presupuesto.pdf}}" target="_self">Descargar PDF</a>
						</center>
					</td>
					<td>
						<a ng-click="edit(presupuesto)" class="btn btn-circle btn-icon-only btn-default">
							<i class="icon-pencil"></i>
						</a>
						<a mwl-confirm title="¿Estas seguro que desea Eliminar?" confirm-text="Si" cancel-text="No" on-confirm="remove($index, presupuesto)" placement="left" confirm-button-type="danger" cancel-button-type="default" class="btn btn-circle btn-icon-only btn-default">
							<i class="icon-trash"></i>
						</a>
					</td>
				</tr>
				<tr>
					<td colspan="8" class="text-center" >
						<span ng-show="presupuestos.length == 0 " class="sbold text-danger">
							Sin Resultados que mostrar
						</span>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="8" class="text-center">
						<div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>