<div class="panel panel-default">
	<form name="frmPresupuesto" ng-submit="guardar();" novalidate>
		<div class="panel-body">
			<legend ng-bind="titulo">Nuevo Presupuesto</legend>
			
			<nav>
				<uib-tabset justified="true">
					<uib-tab>
						<uib-tab-heading>
							<em>General</em>
						</uib-tab-heading>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">Nombre *</label>
									<input type="text" name="nombre" required ng-model="presupuesto.nombre" class="form-control">
									<div ng-show="frmPresupuesto.$submitted || frmProveedor.nombre.$touched">
										<span ng-show="frmPresupuesto.nombre.$error.required" class="text-danger ng-hide">Este campo es requerido.</span>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">Fecha *</label>
									<input type="text" name="fecha" ng-date end-date="0" required ng-model="presupuesto.fecha" class="form-control">
									<div ng-show="frmPresupuesto.$submitted || frmProveedor.fecha.$touched">
										<span ng-show="frmPresupuesto.fecha.$error.required" class="text-danger ng-hide">Este campo es requerido.</span>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">Cliente *</label>
									<select name="cliente" ng-model="presupuesto.cliente" ng-options="cliente as cliente.razon_social for cliente in clientes track by cliente.resource_uri" class="form-control" ng-change="cambioCliente();" required />
									<div ng-show="frmPresupuesto.$submitted || frmProveedor.cliente.$touched">
										<span ng-show="frmPresupuesto.cliente.$error.required" class="text-danger ng-hide">Este campo es requerido.</span>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">Sucursal *</label>
									<select name="sucursal" ng-model="presupuesto.sucursal" ng-options="sucursal as sucursal.nombre for sucursal in sucursales track by sucursal.resource_uri" class="form-control" required />
									<div ng-show="frmPresupuesto.$submitted || frmProveedor.sucursal.$touched">
										<span ng-show="frmPresupuesto.sucursal.$error.required" class="text-danger ng-hide">Este campo es requerido.</span>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">Presupuesto para *</label>
									<ui-select ng-model="presupuesto.para" theme="bootstrap" on-select="cambioPara();">
										<ui-select-match placeholder="Selecciona contacto...">
											{{presupuesto.para.nombre}} &lt;{{presupuesto.para.email}}&gt;
										</ui-select-match>
										<ui-select-choices repeat="contacto in contactos | filter: $select.search">
											<div ng-bind-html="contacto.nombre | highlight: $select.search"></div>
											<small>
												Email: {{contacto.email}}											
											</small>
										</ui-select-choices>
									</ui-select>
									<div ng-show="frmPresupuesto.$submitted || frmProveedor.contacto.$touched">
										<span ng-show="frmPresupuesto.contacto.$error.required" class="text-danger ng-hide">Este campo es requerido.</span>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">Enviar tambien a estas personas</label>
									<ui-select multiple ng-model="presupuesto.contactos" theme="bootstrap">
										<ui-select-match placeholder="Selecciona contactos...">
											{{$item.nombre}} &lt;{{$item.email}}&gt;
										</ui-select-match>
										<ui-select-choices repeat="contacto in contactos2 | filter: $select.search">
											<div ng-bind-html="contacto.nombre | highlight: $select.search"></div>
											<small>
												Email: {{contacto.email}}											
											</small>
										</ui-select-choices>
									</ui-select>
									<div ng-show="frmPresupuesto.$submitted || frmProveedor.contacto.$touched">
										<span ng-show="frmPresupuesto.contacto.$error.required" class="text-danger ng-hide">Este campo es requerido.</span>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">Nota</label>
									<input type="text" name="nota" required ng-model="presupuesto.nota" class="form-control">
								</div>
							</div>
						</div>
					</uib-tab>
					<uib-tab>
						<uib-tab-heading>
							<em>Obras</em>
						</uib-tab-heading>
						<div class="text-right">
							<a class="btn btn-default" ng-click="new();">
								<i class="icon-plus" /> Agregar
							</a>
						</div>
						<table st-table="displayedCollection" st-safe-src="presupuesto.obras" class="table table-striped">
							<thead>
								<th>No</th>
								<th>Concepto</th>
								<th>Importe</th>
								<th>Acciones</th>
							</thead>
							<tbody>
								<tr ng-repeat="row in displayedCollection track by $index">
									<td>{{$index+1}}</td>
									<td style="width: 90%; display: block;">
										<strong>{{row.titulo}}</strong>
										<br>
										<small>{{row.nombre}}</small>
									</td>
									<td>$ {{row.total | currency:''}}</td>
									<td>
										<a ng-click="edit($index, row)" class="btn btn-circle btn-icon-only btn-default">
											<i class="icon-pencil"></i>
										</a>
										<a mwl-confirm title="¿Estas seguro que desea Eliminar?" confirm-text="Si" cancel-text="No" on-confirm="removeObra($index, row)" placement="left" confirm-button-type="danger" cancel-button-type="default" class="btn btn-circle btn-icon-only btn-default">
											<i class="icon-trash"></i>
										</a>
									</td>
								</tr>
								<tr class="success">
									<td colspan="2"><strong>Subotal:</strong></td>
									<td colspan="2" align="right">$ {{presupuesto.subtotal | currency:''}}</td>
								</tr>
								<tr class="success">
									<td colspan="2"><strong>IVA (16%):</strong></td>
									<td colspan="2" align="right">$ {{presupuesto.iva | currency:''}}</td>
								</tr>
								<tr class="success">
									<td colspan="2"><strong>Total:</strong></td>
									<td colspan="2" align="right">$ {{presupuesto.total | currency:''}}</td>
								</tr>
							</tbody>
						</table>
					</uib-tab>
				</uib-tabset>
			</nav>
		</div>
		<div class="panel-footer">
			<div class="clearfix">
				<div class="pull-right">
					<button ng-cancel type="button" class="btn btn-warning">Cancelar</button>
					<button type="submit" class="btn btn-primary">Guardar</button>
				</div>
			</div>
		</div>
	</form>
</div>