<nav role="navigation" class="navbar topnavbar">

   <div class="navbar-header">
      <a href="#/" class="navbar-brand">
         <div class="brand-logo" style="color: white; font-size: 2em; margin-top: 2%;">
            <em>Verallo</em>
         </div>
      </a>
   </div>

   <div class="nav-wrapper">
      <ul class="nav navbar-nav navbar-right">
         <li uib-dropdown="" class="dropdown dropdown-list">
            <a uib-dropdown-toggle="">
               <em class="icon-bell"></em>
               <div class="label label-danger">11</div>
            </a>
            <ul class="dropdown-menu animated flipInX">
               <li>
                  <div class="list-group">
                     <a href="" class="list-group-item">
                        <div class="media-box">
                           <div class="pull-left">
                              <em class="fa fa-twitter fa-2x text-info"></em>
                           </div>
                           <div class="media-box-body clearfix">
                              <p class="m0">New followers</p>
                              <p class="m0 text-muted">
                                 <small>1 new follower</small>
                              </p>
                           </div>
                        </div>
                     </a>
                     <a href="" class="list-group-item">
                        <div class="media-box">
                           <div class="pull-left">
                              <em class="fa fa-envelope fa-2x text-warning"></em>
                           </div>
                           <div class="media-box-body clearfix">
                              <p class="m0">New e-mails</p>
                              <p class="m0 text-muted">
                                 <small>You have 10 new emails</small>
                              </p>
                           </div>
                        </div>
                     </a>
                     <a href="" class="list-group-item">
                        <div class="media-box">
                           <div class="pull-left">
                              <em class="fa fa-tasks fa-2x text-success"></em>
                           </div>
                           <div class="media-box-body clearfix">
                              <p class="m0">Pending Tasks</p>
                              <p class="m0 text-muted">
                                 <small>11 pending task</small>
                              </p>
                           </div>
                        </div>
                     </a>
                     <a href="" class="list-group-item">
                        <small>More notifications</small>
                        <span class="label label-danger pull-right">14</span>
                     </a>
                  </div>
               </li>
            </ul>
         </li>
         <li uib-dropdown="" class="dropdown dropdown-list">
            <a uib-dropdown-toggle="">
            <em class="icon-user"></em>
            </a>
            <ul class="dropdown-menu animated flipInX">
               <li>
                  <div class="list-group">
                     <a ui-sref="logout" class="list-group-item">
                        <div class="media-box">
                           <div class="pull-left">
                              <em class="fa fa-lock fa-2x text-info"></em>
                           </div>
                           <div class="media-box-body clearfix">
                              <p class="m0">Cerrar Sesión</p>
                           </div>
                        </div>
                     </a>
                  </div>
               </li>
            </ul>
         </li>
         <li style="width: 25px;">&nbsp;</li>
      </ul>
   </div>
</nav>