<div class="panel panel-default">
	<form name="frmUnidadMedida" ng-submit="guardar();" novalidate>
		<div class="panel-body">
			<legend ng-bind="titulo">Nueva Unidad de Medida</legend>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Código *</label>
						<input type="text" name="codigo" required ng-model="unidad_medida.codigo" class="form-control ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required">
						<div ng-show="frmUnidadMedida.$submitted || frmUnidadMedida.codigo.$touched">
							<span ng-show="frmUnidadMedida.codigo.$error.required" class="text-danger ng-hide">Este campo es requerido.</span>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Nombre *</label>
						<input type="text" name="nombre" required ng-model="unidad_medida.nombre" class="form-control ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required">
						<div ng-show="frmUnidadMedida.$submitted || frmUnidadMedida.nombre.$touched">
							<span ng-show="frmUnidadMedida.nombre.$error.required" class="text-danger ng-hide">Este campo es requerido.</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<div class="clearfix">
				<div class="pull-right">
					<button ng-cancel type="button" class="btn btn-warning">Cancelar</button>
					<button type="submit" class="btn btn-primary">Guardar</button>
				</div>
			</div>
		</div>
	</form>
</div>