<div class="row">
	<div class="col-lg-4 col-sm-6">
		<div class="panel widget bg-primary">
			<div class="row row-table">
				<div class="col-xs-4 text-center bg-primary-dark pv-lg">
					<em class="icon-cloud-upload fa-3x"></em>
				</div>
				<div class="col-xs-8 pv-lg">
					<div class="h2 mt0">{{presupuestos.length}}</div>
					<div class="text-uppercase">Presupuestos</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-sm-6">
		<div class="panel widget bg-purple">
			<div class="row row-table">
			<div class="col-xs-4 text-center bg-purple-dark pv-lg">
					<em class="icon-globe fa-3x"></em>
				</div>
				<div class="col-xs-8 pv-lg">
					<div class="h2 mt0">{{presupuestos_aprobados}}</div>
					<div class="text-uppercase">Autorizados</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-6 col-sm-12">
		<div class="panel widget">
			<div class="row row-table">
				<div class="col-xs-4 text-center bg-green pv-lg">
					<!-- See formats: https://docs.angularjs.org/api/ng/filter/date-->
					<now format="MMMM" class="text-sm text-uppercase"></now>
					<br/>
					<now format="d" class="h2 mt0"></now>
				</div>
				<div class="col-xs-8 pv-lg">
					<now format="EEEE" class="text-uppercase"></now>
					<br/>
					<now format="h:mm" class="h2 mt0"></now>
					<now format="a" class="text-muted text-sm"></now>
				</div>
			</div>
		</div>
	</div>
</div>