<div class="panel panel-default">
   <div class="panel-body">
      <p ng-if="!(correos | filter:folder).length" class="lead text-center">No hay correos</p>
      <table ng-if="(correos | filter:folder).length" class="table table-hover mb-mails">
         <tbody>
            <tr ng-repeat="mail in correos | filter:folder" ng-class="{'mb-mail-active': mail.unread}">
               <!--
               <td>
                  <div class="checkbox c-checkbox">
                     <label>
                        <input type="checkbox" />
                        <span class="fa fa-check"></span>
                     </label>
                  </div>
               </td>
               -->
               <td class="text-center">
                  <em ng-class="!mail.visto?'fa-star text-warning':'fa-star-o text-muted'" class="fa fa-lg"></em>
               </td>
               <td ui-sref="correo.view({ 'folder':mail.folder, 'mid': mail.id})">
                  <img src="/app/img/default-avatar.png" alt="Mail Avatar" class="mb-mail-avatar pull-left" />
                  <div class="mb-mail-date pull-right">{{mail.fecha | date:"dd/MM/yyyy h:mma"}}</div>
                  <div class="mb-mail-meta">
                     <div class="pull-left">
                        <div class="mb-mail-subject">{{mail.tema}}</div>
                        <div ng-show="mail.folder=='Inbox'" class="mb-mail-from">{{mail.desde}}</div>
                        <div ng-show="mail.folder=='Sent'" class="mb-mail-from">{{mail.para}}</div>
                     </div>
                     <div ng-bind-html="mail.cuerpo | limitTo:100" class="mb-mail-preview"></div>
                  </div>
               </td>
            </tr>
         </tbody>
      </table>
      <center>
      <uib-pagination total-items="page.total_count" ng-model="page.current_page" max-size="page.maxSize" boundary-links="true" rotate="false" num-pages="page.numPages" ng-change="pageChanged()" class="pagination-sm"></uib-pagination>
      </center>
   </div>
</div>