<div  class="table-grid table-grid-desktop">
   <div class="col col-md">
      <div class="pr">
         <div class="clearfix mb">
            <a ui-sref="correo.nuevo" class="btn btn-purple btn-sm mb-compose-button">
               <em class="fa fa-pencil"></em>
               <span>Crear Nuevo</span>
            </a>
         </div>
         <!-- START mailbox list-->
         <div uib-collapse="false" class="mb-boxes">
            <div class="panel panel-default">
               <div class="panel-body">
                  <ul class="nav nav-pills nav-stacked">
                     <li class="p">
                        <small class="text-muted">MAILBOXES</small>
                     </li>
                     <li ui-sref-active="active" ng-repeat="fold in folders">
                        <a ui-sref="correo.folder({folder: fold.folder})">
                           <em ng-class="fold.icon" class="fa fa-fw fa-lg"></em>
                           <span>{{fold.name}}</span>
                        </a>
                     </li>
                     
                  </ul>
               </div>
            </div>
         </div>
         <!-- END mailbox list-->
      </div>
   </div>
   <div ui-view="" class="col"></div>
</div>