<!-- START Mails-->
<div class="panel panel-default">
   <div class="panel-body">
      <form role="form-horizontal" name="frmCorreo" ng-submit="enviar();">
         <div class="input-group form-group">
            <span class="input-group-addon text-sm">Para:</span>
            <tags-input class="bootstrap" ng-model="para" placeholder="Agrega un correo" replace-spaces-with-dashes="false" min-tags="1">
            <auto-complete source="emails" min-length="0" debounce-delay="0" max-results="10">
            </auto-complete>
            </tags-input>
            <!--<input type="text" class="form-control" ng-model="correo.para" required />-->
         </div>
         <div ng-show="mailbox.mail.cc" class="input-group form-group">
            <span class="input-group-addon text-sm">CC:</span>
            <input type="text" class="form-control" ng-model="correo.cc" />
         </div>
         <div ng-show="mailbox.mail.bcc" class="input-group form-group">
            <span class="input-group-addon text-sm">BCC:</span>
            <input type="text" class="form-control" ng-model="correo.bcc" />
         </div>
         <div class="input-group form-group">
            <span class="input-group-addon text-sm">Tema:</span>
            <input type="text" class="form-control" ng-model="correo.tema" required />
         </div>
         <div class="mb-editor">
            <!-- START action buttons-->
            <div class="btn-group btn-group-sm mb pull-right">
               <button type="button" ng-class="{'active':mailbox.mail.cc}" ng-click="mailbox.mail.cc = !mailbox.mail.cc" href="#" class="btn btn-default btn-sm">CC</button>
               <button type="button" ng-class="{'active':mailbox.mail.bcc}" ng-click="mailbox.mail.bcc = !mailbox.mail.bcc" href="#" class="btn btn-default btn-sm">BCC</button>
            </div>
            <!-- END action buttons  -->
            <script type="text/ng-template" id="ng-wig/views/ng-wig.html">
            <div class="ng-wig"><div class="btn-group btn-group-sm"><button type="button" title="Header" ng-click="execCommand('formatblock', '&lt;h1&gt;')" class="btn btn-sm btn-default"><em class="fa fa-header"></em></button><button type="button" title="Paragraph" ng-click="execCommand('formatblock', '&lt;p&gt;')" class="btn btn-sm btn-default"><em class="fa fa-paragraph"></em></button><button type="button" title="Unordered List" ng-click="execCommand('insertunorderedlist')" class="btn btn-sm btn-default"><em class="fa fa-list-ul"></em></button><button type="button" title="Ordered List" ng-click="execCommand('insertorderedlist')" class="btn btn-sm btn-default"><em class="fa fa-list-ol"></em></button><button type="button" title="Bold" ng-click="execCommand('bold')" class="btn btn-sm btn-default"><em class="fa fa-bold"></em></button><button type="button" title="Italic" ng-click="execCommand('italic')" class="btn btn-sm btn-default"><em class="fa fa-italic"></em></button><button type="button" title="link" ng-click="execCommand('createlink')" class="btn btn-sm btn-default"><em class="fa fa-link"></em></button><button type="button" title="Edit Html" ng-class="{ 'nw-button--active': editMode }" ng-click="toggleEditMode()" class="btn btn-sm btn-default"><em class="fa fa-pencil"></em></button></div><div class="nw-editor"><textarea ng-show="editMode" ng-model="content" class="nw-editor__src"> </textarea><iframe scrolling="{{ autoexpand ? 'no' : 'yes' }}" frameBorder="0" ng-hide="editMode" ng-model="content" ng-wig-editable="" class="nw-editor__res"></iframe></div></div>
            </script>
            <textarea ng-wig="correo.mensaje" required></textarea>
            <br/>
         </div>
         <div class="row">
            <div class="col-md-3">
               <div class="panel">
                  <div class="panel-body">
                     <h4 class="page-header mt0">Seleccionar archivos</h4>
                     <div class="box-placeholder my-drop-zone" ngf-drop="addFiles($files)" ngf-select="addFiles($files)" ngf-drag-over-class="'bg-purple'" ngf-multiple="true">Arrastrar archivo o Seleccionar archivo</div>
                     <div ngf-no-file-drop>Arrastrar archivos no esta permitido en este navegador</div>
                  </div>
               </div>
            </div>
            <div class="col-md-9">
               <div class="panel">
                  <div class="panel-body">
                     <p ng-if="files.length" class="pull-right label label-info">Total de Archivos: {{ files.length }}</p>
                     <h4 class="page-header mt0">Archivos seleccionados</h4>
                     <p ng-if="!files.length" class="lead text-center">No hay archivos seleccionados ...</p>
                     <div ng-if="files.length">
                        <table ng-if="files.length" class="table">
                           <thead>
                              <tr>
                                 <th width="50%">Nombre</th>
                                 <th>Tamaño</th>
                                 <th>Acciones</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr ng-repeat="item in files">
                                 <td>
                                    <strong>{{ item.name }}</strong>
                                 </td>
                                 <td nowrap="">{{ item.size/1024/1024|number:2 }} MB</td>
                                 <td nowrap="">
                                    <button type="button" ng-click="removeItem($index)" class="btn btn-danger btn-xs">
                                    <span class="icon-trash mr"></span>Remover
                                    </button>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <button type="submit" class="btn btn-primary mb pull-right">Enviar</button>
      </form>
   </div>
</div>