<div class="panel panel-default">
   <div class="panel-body">
      <table class="table mb-mails mb-view">
         <tbody>
            <tr>
               <td>
                  <div class="clearfix">
                     <div class="mb-mail-date">{{mail.fecha | date:"dd/MM/yyyy h:mma"}}</div>
                     <img src="/app/img/default-avatar.png" alt="Mail Avatar" class="mb-mail-avatar" />
                     <div class="pull-left">
                        <span>Desde:</span>
                        <span class="mb-mail-from">{{mail.desde}}</span>
                        <p class="mb-mail-to-list">Para: <a href="#" title="#">{{mail.para}}</a>
                     </p>
                  </div>
               </div>
               <div class="mb-mail-preview mt-lg">
                  <h4>{{mail.tema}}</h4>
                  <div ng-bind-html="mail.cuerpo"></div>
               </div>
               <div class="mb-attachment">
                  <p ng-if="mailview.mail.attach.length">
                     <span>
                        <em class="fa fa-paperclip fa-fw"></em>{{mailview.mail.attach.length}} attachments —</span><a href="#" class="mr br pr"> Download all attachments</a><a href="#">View all images</a>
                     </p>
                     <ul class="list-inline">
                        <li ng-repeat="att in mailview.mail.attach">
                           <a href="{{att.url}}">
                              <img ng-src="{{att.url}}" class="thumb64 img-responsive img-thumbnail" />
                           </a>
                           <p>{{att.name}}</p>
                        </li>
                     </ul>
                  </div>
                  <div class="media-box">
                     <a href="#" class="pull-left">
                        <img ng-if="user.avatar" ng-src="{{server}}{{user.avatar}}" class="media-box-object img-rounded thumb32" />
                        <img ng-if="!user.avatar" src="/app/img/default-avatar.png" class="media-box-object img-rounded thumb32" />
                     </a>
                     <form ng-submit="Responder()">
                        <div class="media-box-body">
                           <textarea placeholder="Responder ..." class="form-control" ng-model="correo.mensaje" required></textarea>
                        </div>
                        <br />
                        <button type="submit" class="btn btn-primary pull-right">Responder</button>
                     </form>
                  </div>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
</div>