<!-- top navbar-->
<header ng-include="'app/views/partials/top-navbar.html'" class="topnavbar-wrapper"></header>
<!-- sidebar-->
<aside ng-include="'app/views/partials/sidebar.html'" ng-controller="SidebarController" class="aside"></aside>
<!-- Main section-->
<section>
   <!-- Page content-->
   <div block-ui="main" class="block-ui-main"></div>
   <div ui-view="" autoscroll="false" ng-class="app.viewAnimation" class="content-wrapper"></div>
   </div>
</section>
<!-- Page footer-->
<footer ng-include="'app/views/partials/footer.html'"></footer>