<div class="panel panel-default">	
	<div class="panel-body">
		<legend>Insumos</legend>

		<div class="text-right">
			<a class="btn btn-default" ng-click="new();">
				<i class="icon-plus" /> Agregar
			</a>
		</div>
		<table st-table="insumos" st-pipe="callServer" class="table table-hover">
			<thead>
				<tr>
					<th>Concepto</th>
					<th>Unidad de Medida</th>
					<th>Costo</th>
					<th>Acciones</th>
				</tr>
				<tr>
					<th colspan="4"><input st-search="" class="form-control" placeholder="Concepto a buscar" type="text"/></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in insumos">
					<td>{{row.nombre}}</td>
					<td>{{row.unidad_medida.nombre}}</td>
					<td>${{row.precio}}</td>
					<td>
						<a ng-click="edit(row)" class="btn btn-circle btn-icon-only btn-default">
							<i class="icon-pencil"></i>
						</a>
						<a mwl-confirm title="¿Estas seguro que desea Eliminar?" confirm-text="Si" cancel-text="No" on-confirm="remove($index, row)" placement="left" confirm-button-type="danger" cancel-button-type="default" class="btn btn-circle btn-icon-only btn-default">
							<i class="icon-trash"></i>
						</a>
					</td>
				</tr>
				<tr ng-repeat-end ng-if="false"></tr>
				<tr>
					<td colspan="4" class="text-center" >
						<span ng-show="insumos.length == 0 " class="sbold text-danger">
							Sin Resultados que mostrar
						</span> 
					</td>
				</tr>
			</tbody>
			<tfoot>

				<tr>
					<td colspan="5" class="text-center">
						<div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>