<div class="block-center mt-xl wd-xl">
	<div class="panel panel-dark panel-flat">
		<div class="panel-heading text-center">
			<a href="#">
				<em style="color: white; font-size: 2em;">{{app.name}}</em>
			</a>
		</div>
		<div class="panel-body">
			<p class="text-center pv">INGRESA TUS DATOS</p>
			<form role="form" ng-submit="login();" name="frmLogin" novalidate class="form-validate mb-lg">
				<div class="form-group has-feedback">
					<input type="email" name="email" placeholder="Email" ng-model="usuario.username" required class="form-control" />
					<span class="fa fa-envelope form-control-feedback text-muted"></span>
					<div ng-show="frmLogin.$submitted || frmLogin.email.$touched">
						<span ng-show="frmLogin.email.$error.required" class="text-danger">
							El campo Email es requerido
						</span>
						<span ng-show="frmLogin.email.$error.email" class="text-danger">
							El Email es invalido
						</span>
					</div>
				</div>
				<div class="form-group has-feedback">
					<input type="password" name="contrasena" placeholder="Contraseña" ng-model="usuario.password" required class="form-control" />
					<span class="fa fa-lock form-control-feedback text-muted"></span>
					<div ng-show="frmLogin.$submitted || frmLogin.contrasena.$touched">
						<span ng-show="frmLogin.contrasena.$error.required" class="text-danger">
							El campo Contraseña es requerido
						</span>
					</div>
				</div>
				<div class="clearfix">
					<div class="pull-right">
						<a class="text-muted">¿Olvidaste tu contraseña?</a>
					</div>
				</div>
				<button type="submit" class="btn btn-block btn-primary mt-lg">Login</button>
			</form>
			<div ng-show="login.mensaje" class="alert alert-danger text-center">{{login.mensaje}}</div>				
		</div>
		</div>
	<div class="p-lg text-center">
		<span>&copy;</span>
		<span ng-bind="app.year"></span>
		<span>-</span>
		<span ng-bind="app.name"></span>
		<br/>
		<span ng-bind="app.description"></span>
	</div>
</div>